body {
    background: #fefefe;
}
section {
    background: #792fb6;

}

h1 {
    color: yellowgreen;
}

h2 {
    color:#1460AA;
}

.blue-paragraph {
    color: blue;
    background: gold;
}

img {
    height: 40mm
}
.header {
    background: hotpink

}